*{
    font-family: 'Roboto', 'Raleway' sans-serif;
    text-decoration: inherit;
    margin: auto;
    position: relative;

}

.wrapper {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: max-content;
    justify-content: center;
    display: inline;
    background: #FFFFFF;
}

header {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    color: #212121;
    font-size: 16px;
    line-height: 1.14;
    text-decoration: none;
    border-bottom: #212121 10px;
}


.logo-top {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    margin-top: 24px;
    margin-bottom: 25px;
    margin-left: 215px;
    
}
.logo-top span {
    color: #2196F3;
}

.link-nav {
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
   
}
.link-nav:hover {
    color: #2196F3;
}

.link-passive1 {
    color: #757575;
    font-size: 14px;
    
     
}
.link-passive1:hover {
    color: #2196F3 ;
}
.link-passive2 {
    color: #757575;
    font-size: 14px;
      
}
.link-passive2:hover {
    color: #2196F3 ;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #212121;
    text-decoration: none;
    line-height: 1.5;
    justify-content: center;
    display: inline;
    margin: auto;

}

.hero {
    padding-top: 200px;
    padding-bottom: 280px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.14;
    text-decoration: none;
    border-radius: 0px;
    background: #2F303A;
    color: #FFFFFF;
    justify-content: center;
}

.main-part {
    justify-content: center;
    display: inline;
    margin: auto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    padding-top: 200px;
    padding-bottom: 30px;
    padding-left: 452px;
    padding-right: 452px;
    text-align: center;
}

button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 200px;
    color:#212121;
    background-color: #F5F4FA;
    cursor: pointer;
    border: 3px;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    position:absolute;
    display: inline;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px;
    width: 200px;
}

button:hover {
    background-color: #2196F3;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 94px;
}

.business-head {
    justify-content: center;
    display: inline;
    margin: auto;
    font-size: 36px;
    font-weight: 700;
    padding-top: 94px;
    padding-bottom: 50px;
    padding-left: 624px;
    padding-right: 624px;
    text-align: center;
}

.staff-head {
    justify-content: center;
    display: inline;
    margin: auto;
    font-size: 36px;
    font-weight: 700;
    padding-top: 94px;
    padding-bottom: 50px;
    padding-left: 624px;
    padding-right: 624px;
    text-align: center;
}
footer {
    background: #2F303A;
    padding-top: 50px;
    padding-bottom: 42px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.14;
    text-decoration: none;
    color: #FFFFFF;
   
}

.logo-bottom {
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    margin-top: 75px;
    margin-bottom: 146px;
    margin-left: 215px;
    
}
.logo-bottom span {
    color: #2196F3;

}

.address {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 215px;
    font-style: normal;
}

.link-footer1 {
    color: #757575;
    text-decoration: underline;
    margin-bottom: 9px;
    margin-top: 9px;
    font-size: 14px;
   
}
.link-footer1:hover {
    color: #2196F3 ;
}
.link-footer2 {
    color: #757575;
    font-size: 14px;
    margin-bottom: 9px;
    margin-top: 9px;
}
.link-footer2:hover {
    color: #2196F3 ;
}


li {
    display: inline;
    padding: 5px;
    
}
 